
@media (min-width: 769px) {
  .group {
    display: flex;
  
    > .element {
      flex: 1;
    }
  }
}

@media (max-width: 768px) {
  .element:not(:first-child) {
    border-top: 1px solid #ddd;
  }
}